<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Education Project</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/exam">Exam</a></li>
      <li><a routerLink="/test">Tests tasks</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
